/* ---------Anash CSS Codes---------- */
.navbar-brand img {
    width: 180px;
}
.navbar {
    padding: 1% 5%;
}
.nav-item {
    text-transform: uppercase;
    font-size: 1.5rem;
}



/* -------------Margaret CSS Codes-------------- */
/* Write your codes here: */



/* ---------Hadeel CSS Codes------------------------ */
/* Write your codes here: */